
<!-- Portfolio Section -->
<section id="welcome-container">
    <div id="welcome-text">
        <h1>Events</h1>
        <p> see the events which are due today.
        </p>
    </div>
</section>

<div id="event-cards" class="event-cards">
    <!-- Event cards will be dynamically added here -->
</div>

<br>
<br>
<br>
