
<div class="container">
    <h1 class="mb-5"> Events Management </h1>


    <div class="row justify-content-lg-center g-3"></div>

    <form class="col-lg-6 col-md-10 col-sm-10">


        <div class="input-group mb-3">
            <span class="input-group-text">Full Name</span>
            <input id="EventName" name="EventName" type="text" class="form-control"
                   aria-describedby="Event Name" aria-label="Event Name Input" required>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Contact Number</span>
            <input id="contactNumberEvent" name="contactNumberEvent" type="text" class="form-control"
                   aria-describedby="Evennt Address" aria-label="Evennt Address Input" required>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Email Address</span>
            <input id="emailAddressEvent" name="emailAddressEvent" type="text" class="form-control"
                   aria-describedby="Email Address" aria-label="Email Address Input" required>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Message</span>
            <input id="EventDescription" name="EventDescription" type="text" class="form-control"
                   aria-describedby="Event Description" aria-label="Event Description Area Input">
        </div>

        <!--        <div class="input-group mb-3">-->
        <!--            <input id="subscribeCheckbox" type="checkbox" class="form-check-input">-->
        <!--            <label class="form-check-label" for="subscribeCheckbox">Subscribe to our Contact List</label>-->
        <!--        </div>-->

        <button id="submitButton" type="submit" class="btn btn-primary"> <i class="fa-solid fa-check"></i> Submit </button>
        <button id="cancelButton" type="reset" class="btn btn-warning"><i class="fa-solid fa-xmark"></i> Cancel </button>

    </form>
    <br>
    <div class="col-lg-4 col-md-4">
        <a href="feedbacklist.html" class="btn btn-primary">View All Feedbacks<i class="fa-solid fa-users"></i></a>
    </div>

</div>
