
<div class="container">
    <h1 class="mb-5"> Feedback </h1>

    <div id="messageArea"> </div>

    <div class="row justify-content-lg-center g-3"></div>

    <form class="col-lg-6 col-md-10 col-sm-10">


        <div class="input-group mb-3">
            <span class="input-group-text">Full Name</span>
            <input id="fullName" name="fullName" type="text" class="form-control"
                   aria-describedby="Full Name" aria-label="Full Name Input" required>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Contact Number</span>
            <input id="contactNumber" name="contactNumber" type="text" class="form-control"
                   aria-describedby="Contact Number" aria-label="Contact Number Input" required>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Email Address</span>
            <input id="emailAddress" name="emailAddress" type="text" class="form-control"
                   aria-describedby="Email Address" aria-label="Email Address Input" required>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Message</span>
            <input id="message" name="message" type="text" class="form-control"
                   aria-describedby="Message" aria-label="Message Area Input">
        </div>

<!--        <div class="input-group mb-3">-->
<!--            <input id="subscribeCheckbox" type="checkbox" class="form-check-input">-->
<!--            <label class="form-check-label" for="subscribeCheckbox">Subscribe to our Contact List</label>-->
<!--        </div>-->

        <button id="sendButton" type="submit" class="btn btn-primary"> <i class="fa-solid fa-check"></i> Submit </button>
        <button id="cancelButton" type="reset" class="btn btn-warning"><i class="fa-solid fa-xmark"></i> Cancel </button>

    </form>
    <br>
    <div class="col-lg-4 col-md-4">
        <a href="feedbacklist.ejs" class="btn btn-primary">View All Feedbacks<i class="fa-solid fa-users"></i></a>
    </div>

</div>

