!-- Creating a slider to display pictures in the background!-->
<section id="dynamic-background">
    <div id="carouselExample" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active mySlides">
                <img src="/assets/images/coding.jpg">
            </div>
            <div class="carousel-item mySlides">
                <img src="/assets/images/03-850x412.jpg">
            </div>
            <div class="carousel-item mySlides">
                <img src="/assets/images/lhhkpsutg0uhpbiymico-g.jpg">
                <div>
                    <div class="carousel-item mySlides">
                        <img src="/assets/images/schoolboy-class-using-computer-260nw-72425800.webp">
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section id="welcome-container">
    <div id="welcome-text">
        <h1>WELCOME TO HARMONY HUB!</h1>
        <p> Where innovation meets community. Join us for classes, events, and projects that bring people together to learn and grow.
        </p>
    </div>
</section>