
<section id="portfolio-text" >
    <h1>PORTFOLIO</h1>
    <p> With a goal of providing a variety of services and activities to people of all ages and backgrounds,
        Harmony Hub is an active community centre.<br> With services including seminars, events, workshops, and
        community projects.
    </p>
    <h2>Previous Projects:</h2>
</section>

<section id="project-list"></section>
<button id="load-more">Load More</button>

<br>
<br>
<br>

