
<!-- Services Section -->
<section id="services" class="bg-dark text-white py-5">
    <div class="container text-center">
        <h1>OUR STATICTICS</h1>
        <p>Discover our statistics thow amazing graphs.</p>
    </div>
</section>
<div class="container d-flex justify-content-between align-content-center">

    <div style="width: 300px; height: 300px; margin: 5px; padding: 5px">
        <canvas id="viewChartChart" width="200" height="200"></canvas>
        <p style="color: white"> This Graph shows the  Activity of the hub</p>
    </div>
</div>
