
<div id="team-grid">
    <div class="team-member" onclick="showModal('Muiz Bolarinwa', 'Lead Software Engineer', '/assets/images/muiz.jpg',
    'As our Lead Software Engineer, Muiz oversees the technical aspects of our web development projects. ' +
     'With a wealth of experience in software architecture and coding practices, ' +
      'He ensures that our digital solutions are not only functional but also scalable and future-proof.')">
        <img src="/assets/images/muiz.jpg" alt="Muiz Bolarinwa">
        <h3>Muiz Bolarinwa</h3>
        <p>Lead Software Engineer</p>
        <br><p>Founder</p>
    </div>

    <div class="team-member" onclick="showModal('Jabari Mitchell', 'Front-End Developer', '/assets/images/jabari.jpg',
    'Jabari is our Front-End Developer, ' +
     'responsible for crafting the visual elements that users interact with on our website. ' +
      'From designing responsive layouts to ensuring a seamless user experience, ' +
       'Jabari combines creativity and technical skills to bring our web interface to life.')">
        <img src="/assets/images/jabari.jpg" alt="Jabari Mitchell">
        <h3>Jabari Mitchell</h3>
        <p>Front-End Developer</p>
        <br><p>Co-Founder</p>
    </div>

    <div class="team-member" onclick="showModal('Mia John', 'Back-End Developer', '/assets/images/ella.jpg',
    'As our Back-End Developer, Mia focuses on the server-side of our web applications. ' +
     'She works behind the scenes to optimize performance, manage databases, and implement robust server-side logic. ' +
      'Mia\'s attention to detail ensures the functionality of our digital services.')">
        <img src="/assets/images/ella.jpg" alt="Mia John">
        <h3>Mia John</h3>
        <p>Back-End Developer</p>
    </div>

    <div class="team-member" onclick="showModal('Ryan Reynolds', 'Full Stack Developer', '/assets/images/ryan.jpg',
    'Ryan is our versatile Full Stack Developer, proficient in both front-end and back-end technologies. ' +
     'His role involves integrating different layers of a web application, ' +
      'ensuring a cohesive and comprehensive digital experience for our users.')">
        <img src="/assets/images/ryan.jpg" alt="Peter Parker">
        <h3>Ryan Reynolds</h3>
        <p>Full Stack Developer</p>
    </div>




</div>

<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <div id="modal-content"></div>
    </div>
</div>

